@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

$family-monospace: "Fira Mono", monospace;
$family-primary: $family-monospace;
$green: #39ff14;
$black: black;
$white: white;
$input-placeholder-color: $white;
$link: $green;
$link-hover: $white;

@import "../node_modules/bulma/bulma.sass";

.graph {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
}

html {
  background-color: $black;
  overflow: hidden;
}

.search-results {
  max-height: 30vh;
  overflow-y: auto;
  position: absolute;
}

li::marker {
  content: "> ";
}
